<h2>Sign Up</h2>

<%= form_tag("/users") do %>		
	<% @user.errors.full_messages.each do |error| %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% end %>

	<div class="form-group">
		<label>Name: </label>
		<%= text_field_tag(:name, "#{@user.name}")%>
	</div>
	<div class="form-group">
		<label>Email: </label>
		<%= text_field_tag(:email, "#{@user.email}")%>
	</div>
	
	<%= submit_tag("Submit") %>
<% end %>