<ul class="list-unstyled">
	<div class="user_show">
		<li><%= image_tag("/user_images/#{@user.image_name}") %></li>
		<div class="clearfix">
			<li><h2><%= @user.name %></h2></li>
			<li><p><%= @user.email %></p></li>
		</div>
	</div>
</ul>
	
<ul class="list-inline">
	<li><%= link_to("edit", "/users/#{@user.id}/edit") %></li>
	<li><%= link_to("delete", "/users/#{@user.id}", method: :delete, data: {confirm: "Are you sure?"}) %></li>
</ul>